
body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

header {
    z-index: 1;
    background-color: #EC362D;
    width: 100vw;
    height: 69px;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 37px;
    margin-top: 13px;
    line-height: 43px;
    color: #FFFFFF;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}
.tela1, 
.tela9 {
    display: flex; flex-direction: column; align-items: center;
    width: 80%;
}

.hidden {
    display: none!important;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

h2 {
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}


.tela8 button,
.tela9 button,
.tela11 .botaoAcessar {
        width: 325px;
        height: 54px;
        border-radius: 15px;
        background-color: #EC362D;
        color: white;
        font-family: Roboto;
        font-size: 21px;
        border: none;
    }

/* loading */

@keyframes ldio-9z6lrpsoe6 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-9z6lrpsoe6 div {
  left: 95.88px;
  top: 45.9px;
  position: absolute;
  animation: ldio-9z6lrpsoe6 linear 1.3513513513513513s infinite;
  background: #df1317;
  width: 12.24px;
  height: 26.52px;
  border-radius: 6.12px / 7.4256px;
  transform-origin: 6.12px 56.1px;
}.ldio-9z6lrpsoe6 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.2474012474012475s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(2) {
  transform: rotate(27.692307692307693deg);
  animation-delay: -1.1434511434511436s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(3) {
  transform: rotate(55.38461538461539deg);
  animation-delay: -1.0395010395010396s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(4) {
  transform: rotate(83.07692307692308deg);
  animation-delay: -0.9355509355509356s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(5) {
  transform: rotate(110.76923076923077deg);
  animation-delay: -0.8316008316008316s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(6) {
  transform: rotate(138.46153846153845deg);
  animation-delay: -0.7276507276507277s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(7) {
  transform: rotate(166.15384615384616deg);
  animation-delay: -0.6237006237006237s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(8) {
  transform: rotate(193.84615384615384deg);
  animation-delay: -0.5197505197505198s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(9) {
  transform: rotate(221.53846153846155deg);
  animation-delay: -0.4158004158004158s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(10) {
  transform: rotate(249.23076923076923deg);
  animation-delay: -0.31185031185031187s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(11) {
  transform: rotate(276.9230769230769deg);
  animation-delay: -0.2079002079002079s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(12) {
  transform: rotate(304.61538461538464deg);
  animation-delay: -0.10395010395010396s;
  background: #df1317;
}.ldio-9z6lrpsoe6 div:nth-child(13) {
  transform: rotate(332.3076923076923deg);
  animation-delay: 0s;
  background: #df1317;
}
.loadingio-spinner-spinner-547wu04bgh7 {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: #e5e5e5;
}
.ldio-9z6lrpsoe6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9z6lrpsoe6 div { box-sizing: content-box; }
/* generated by https://loading.io/ */