.tela8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 100%;
}
.tela8 h1{
    margin-bottom: 40px;
}
.tela8 button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    border: none;
}
.tela8 .inputsPassoUm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.tela8 .inputsPassoUm input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 23px;
    font-size: 19px;
    color: #838383;
    font-family: 'Roboto';
    font-style: italic;
}

.tela8 .inputsPassoUm input::placeholder{
    color:#c0c0c0
}

@media(max-width: 1100px){
    .tela8{
        width: 100%;
    }

    .tela8 .inputsPassoUm{
        width: 100%;
    }

    .tela8 .inputsPassoUm input{
        width: 90%;
    }

    .tela8 .tela8 button{
        margin-top: 50px;
        width: 90%;
    }

}