.tela3 {
    display: flex; flex-direction: column; align-items: center;
}
.tela3 .headerDoQuizz {
    display: flex; justify-content: center; align-items: center;
    object-fit: contain;
    width: 100vw; height: 227px;
}
.tela3 .listQuizz {
    display: flex; flex-direction: column; align-items: center;
    object-fit: contain;
    width: 759px;
}
.tela3 li {
    width: 100%;
    background-color: #FFF;
    padding: 20px; margin-top: 42px;
}
.tela3 .QuizzAnswers{
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
}
.tela3 .QuizzTitle {
    display: flex; justify-content: center; align-items: center;
    height: 138px;
}
.tela3 .QuizzTitle p{
    color: white;
    mix-blend-mode: difference;
}
.tela3 .ButtonAnswer{
    width: 40%; height: 175px;
    margin: 20px 0;
    object-fit: contain;
}
.tela3 .ButtonAnswer img{
    width: 100%; height: 90%;
}
.tela3 .ButtonAnswer p{
    font-weight: 700;
    font-size: 20px;
}
.tela3 .ButtonAnswer.isCorrectAnswer p{ color: #009C22 }
.tela3 .ButtonAnswer.isWrongAnswer p{ color: #FF4B4B }
.tela3 .ButtonAnswer.noSelected{ opacity: 0.3 }


.tela3 .QuizzResults {
    display: flex;
    margin-top: 18px;
}
.tela3 .QuizzResults img{
    width: 50%;
}
.tela3 .QuizzResults p{
    padding: 10px;
}
.tela3 .menu {
    margin: 40px 0;
    display: flex; flex-direction: column;
}
.tela3 .menu button.buzzQuizz{
    color: aliceblue; background-color: #EC362D;
    border: none; border-radius: 15px; outline: none;
    padding: 12px 32px;
    font-size: 21px; font-weight: 400;
}
.tela3 .menu button.Retorno{
    color: #818181; background-color: transparent;
    border: none; outline: none; 
    padding: 12px 32px;
    font-size: 21px; font-weight: 400;
}
