.tela9 button {
    margin-top: 80px;
}
.tela9 input::placeholder{ 
color:#D1D1D1;
}

.tela9 {
    width: 100%;
}

.tela9 ul{
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela9 ul li {
    width: 600px;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: #FFFFFF;

}


.expanded{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expanded img{
    display: none;
}

.expanded p {
    font-weight: bold;
}

.resposta-correta{
    display: flex;
    flex-direction: column;
}


.numero-pergunta{
    width: 100%;
}

.tela9 ul li div { 
display: flex; 
justify-content: space-between;
align-items: center;
}

.tela9 ul li div span{
    font-weight: bold;
}
.tela9 ul li input,
.tela9 ul li p,
.tela9 ul li.expanded ion-icon {
    display: none
}

.tela9 ul li.expanded input,
.tela9 ul li.expanded p,
.tela9 ul li.expanded div,
.tela9 ul li.expanded div ion-icon {
    display: initial;
}

.expanded input{
    margin-bottom: 20px;
}

@media(max-width: 1100px){

    .tela9 ul{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .tela9{
        width: 100%;
    }

    .tela9 ul li {
        width: 100%;
    }

    li p {
        font-weight: bold;
    }
    
.perguntasManager span,
.perguntasManager p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    }
}