.tela9 button {
    margin-top: 80px;
}

.tela9 input {
    border: 1px solid #D1D1D1;
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
}

.tela9 input::placeholder {
    color: #D1D1D1
}

.tela9 ul {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela9 ul li {
    width: 600px;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: #FFFFFF;

}

.tela9 ul li input {
    padding-left: 20px;
    margin-bottom: 7px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

.barraDeCor {
    padding-right: 20px;
    border-radius: 5px;
}


.tela9 ul li div {
    display: flex;
    justify-content: space-between;
}

.tela9 ul li input,
.tela9 ul li p,
.tela9 ul li.expanded ion-icon {
    display: none
}

.tela9 ul li.expanded input,
.tela9 ul li.expanded p,
.tela9 ul li.expanded div,
.tela9 ul li.expanded div ion-icon {
    display: initial;
}

.perguntasManager span,
.perguntasManager p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}